@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
  --font-sans: InterVariable, sans-serif;
}
/* Define custom color in a CSS variable */
@layer base {
  :root {
    --navbar-color: #1b3351;
  }
}

/* Define a utility class that uses the custom variable */
@layer utilities {
  .bg-navbar {
    background-color: var(--navbar-color);
  }
}
